#webpack-dev-server-client-overlay {
  display: none;
}

body {
  margin: 0;
  font-family: "Roboto";
  --grayishBlue: #d1d4dc;
  --grayishBlue2: #e2e3e4;
  --darkBlue: #131722;
  --darkBlue2: #2d3243;
  --white: white;
  --vividBlue: #2962ff;
  --candlePositive: #26a69a;
  --candleNegative: #ef5350;
  --smaBlue: #046fe8;
  --placeholderLight: grey;
  --placeholderDark: darkgrey;
}

#root {
  width: 100%;
  height: 100vh;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#light {
  background: var(--white);
}

#dark {
  background: var(--darkBlue);
}

.Header {
  width: 100%;
  height: 60px;
}

.Header #light {
  border-bottom: 1px solid var(--grayishBlue2);
}

.Header #dark {
  border-bottom: 1px solid var(--darkBlue2);
}

.Header-1 {
  width: 100%;
  height: 100%;
}

.App-header {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
}

.App-header-1 {
  width: 50%;
  height: 100%;
}

.App-header-2 {
  width: 50%;
  height: 100%;
}

.App-header-2 #tradingview_widget_wrapper {
  height: 90%;
}

.App-header-2 #tradingview_widget_wrapper div {
  height: 100%;
}

.App-body {
  width: 100%;
  height: 600px;
}

.App-body-1 {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-body-1 #tradingview_widget_wrapper {
  width: 100%;
}

.App-body-1 #tradingview_widget_wrapper div {
  width: 100%;
}

.Prediction-body {
  width: 100%;
  height: 800px;
}

.Prediction-body-1 {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
}

.Prediction-body-1 #light {
  border-bottom: 1px solid var(--grayishBlue2);
}

.Prediction-body-1 #dark {
  border-bottom: 1px solid var(--darkBlue2);
}

.Prediction-body-1-body {
  margin: auto;
  display: flex;
}

.Prediction-body-1-body #light {
  border: 1px solid var(--grayishBlue2);
}

.Prediction-body-1-body #dark {
  border: 1px solid var(--darkBlue2);
}

.Prediction-body-2 {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-footer {
  width: 100%;
  height: 400px;
}

.App-footer-1 {
  width: 100%;
  height: 400px;
}

.App-footer-1 #tradingview_widget_wrapper {
  height: 100%;
}

.App-footer-1 #tradingview_widget_wrapper div {
  height: 100%;
}

.Footer {
  width: 100%;
  height: 60px;
}

.Footer #light {
  border-top: 1px solid var(--grayishBlue2);
}

.Footer #dark {
  border-top: 1px solid var(--darkBlue2);
}

.Footer-1 {
  width: 100%;
  height: 100%;
}

.MuiBox-root.css-i9gxme {
  background: inherit !important;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionStatic.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background: inherit !important;
}

@media (min-width: 1536px) {
  .css-19r6kue-MuiContainer-root {
    max-width: none !important;
  }
}

@media (min-width: 600px) {
  .css-19r6kue-MuiContainer-root {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
}

@media (min-width: 600px) {
  .css-1orzy9s {
    margin-right: 20px !important;
  }
}

.css-j204z7-MuiFormControlLabel-root {
  margin-right: 0px !important;
}

.css-1nrlq1o-MuiFormControl-root {
  margin: 20px !important;
}
